<!-- ======= Polypropylene Section ======= -->
<section id="polypropylene" class="polypropylene product-section">
    <div class="container">
        <div class="row">
            <div>
                <h2>Polypropylene</h2>
                <a href="/#product">
                    <h6>Back to Products in Home Page</h6>
                </a>
                <br>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <h6 class="section-header mb-0 font-weight-bold">Polypropylene (PP)</h6>
                                </th>
                                <th>
                                    <h6 class="mb-0 font-weight-bold">Applications</h6>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>PP Impact Copolymer
                                    <br>Injection Molding(High Impact Strength)
                                    <br> MFI: 3-50</td>
                                <td>Household Products, furniture, Baby car parts, paint drum, storage boxes etc</td>
                            </tr>
                            <tr>
                                <td>PP Random Copolymer
                                    <br>Injection Molding
                                    <br>MFI: 12-35</td>
                                <td>Housewares, transparency Food containers, all kinds of thin containers</td>
                            </tr>
                            <tr>
                                <td>PP Homopolymer
                                    <br>Film
                                    <br>MFI: 10-12</td>
                                <td>General purpose films, garment bags, shopping bags, packaging bags, etc</td>
                            </tr>
                            <tr>
                                <td>PP Homopolymer
                                    <br>Injection Molding
                                    <br>MFI: 10-15</td>
                                <td>House wares, furniture, hangers, closures, food containers etc</td>
                            </tr>
                            <tr>
                                <td>PP Homopolymer
                                    <br>Flat Yarn/Raffia
                                    <br>MFI: 3-4.5</td>
                                <td>FIPC jumbo bags, woven bags for cement/petrochemical industry and for various packing</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <div class="table-responsive">
                    <table class="table table-hover">                
                        <tbody>                            
                            <tr>
                                <td>HOMO</td>                        
                            </tr>
                            <tr>
                                <td>COPO</td>                        
                            </tr>
                            <tr>
                                <td>Random</td>                        
                            </tr>
                        </tbody>
                    </table>
                </div> -->
            </div>
            <!-- <div class="col-lg-6 col-md-6">
                <img src="../assets/img/product/Polypropylene.jpg" class="img-fluid" alt="Polypropylene">
            </div> -->
        </div>
    </div>
</section>
<!-- End Polyethylene Section -->