<!-- ======= Polyethylene Section ======= -->
<section id="polyethylene" class="polyethylene mt-4 product-section">
    <div class="container">
        <div class="row">
            <div>
                <h2>Polyethylene</h2>
                <a href="/#product">
                    <h6>Back to Products in Home Page</h6>
                </a>
                <br>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <h6 class="section-header mb-0 font-weight-bold">High Density Polyethylene (HDPE)</h6>
                                </th>
                                <th>
                                    <h6 class="mb-0 font-weight-bold">Applications</h6>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>HDPE Film Grade
                                    <br>MFI: 8-10</td>
                                <td>Blown films, such as general purpose bags, liner films, bags on rolls,
                                    <br> garbage bags, industrial films, etc</td>
                            </tr>
                            <tr>
                                <td>HDPE Injection Grade
                                    <br>MFI: 6-20</td>
                                <td>Toys, auto parts, garbage bin, industrial products, cap & closures, etc</td>
                            </tr>
                            <tr>
                                <td>HDPE Yarn Grade
                                    <br>MFI: 0.8</td>
                                <td>Woven sack, fishing net, rope, etc</td>
                            </tr>
                            <tr>
                                <td>HDPE Cap Grade
                                    <br>MFI: 3.7-12</td>
                                <td>Caps and closures of minerals/stilled, sparkling, and carbonated water, etc</td>

                            </tr>
                            <tr>
                                <td>HDPE Pipe Grade
                                    <br>MFI: 3.7-12</td>
                                <td>For making HDPE Pipe</td>

                            </tr>
                            <tr>
                                <td>HDPE Blow Molding
                                    <br>MFI: 0.25-0.6</td>
                                <td>Milk bottles, food packaging, drinking water bottles, household products,
                                    <br> or personal care/detergent/chemical/lubricant oil containers, etc</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <h6 class="section-header mb-0 font-weight-bold">Low Density Polyethylene (LDPE)</h6>
                                </th>
                                <th>
                                    <h6 class="mb-0 font-weight-bold">Applications</h6>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>LDPE Film Grade
                                    <br>MFI: 1.9-5</td>
                                <td>General purpose bags, garment bags, shrink films etc</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <h6 class="section-header mb-0 font-weight-bold">Linear Low Density Polyethylene (LLDPE)
                                    </h6>
                                </th>
                                <th>
                                    <h6 class="mb-0 font-weight-bold">Applications</h6>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>LLDPE Film Grade
                                    <br>MFI: 1-2</td>
                                <td>General purpose films, liner film, food packaging, garment bags, etc</td>
                            </tr>
                            <tr>
                                <td>LLDPE Roto Molding Grade
                                    <br>MFI: 3-7</td>
                                <td>Water tanks, storage tanks, containers, general purpose molding, etc</td>
                            </tr>
                            <tr>
                                <td>LLDPE Injection
                                    <br>MFI: 3-7</td>
                                <td>Water tanks, storage tanks, containers, general purpose molding, etc</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <div class="table-responsive">
                    <table class="table table-hover">                
                        <tbody>                            
                            <tr>
                                <td>HDPE</td> High Density Polyethylene
                            </tr>
                            <tr>
                                <td>LDPE</td> Low Density Polyethylene
                            </tr>
                            <tr>
                                <td>LLDPE</td> Linear Low Density Polyethylene
                            </tr>
                        </tbody>
                    </table>
                </div> -->
            </div>
            <!-- <div class="col-lg-6 col-md-6">
                <img src="../assets/img/product/Polyethylene.jpg" class="img-fluid" alt="Polyethylene">
            </div> -->
        </div>
    </div>
</section>
<!-- End Polyethylene Section -->