<!-- ======= Polyvinyl Chloride (PVC) Section ======= -->
<section id="pvc" class="pvc product-section">
    <div class="container">
        <div class="row">
            <div>
                <h2>Polyvinyl Chloride (PVC)</h2>
                <a href="/#product">
                    <h6>Back to Products in Home Page</h6>
                </a>
                <br>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <h6 class="section-header mb-0 font-weight-bold">Poly Vinyl Chloride (PVC)</h6>
                                </th>
                                <th>
                                    <h6 class="mb-0 font-weight-bold">Applications</h6>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>K -Value 58~62</td>
                                <td>Pipe fitting, hollow-vacuum forming, rigid film, shrinkable film, etc</td>
                            </tr>
                            <tr>
                                <td>K -Value 65~67</td>
                                <td>PVC Films/sheet, beach chair, rigid pipe, hose, low temperature wire and cable etc</td>
                            </tr>
                            <tr>
                                <td>High Impact Flexible Product</td>
                                <td>PVC Leather, film, furniture, shoes, etc</td>
                            </tr>
                            <tr>
                                <td>High Impact Sheet</td>
                                <td>High voltage wire and cable insulation, etc</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>K-Value 57</td>
                            </tr>
                            <tr>
                                <td>K-Value 61</td>
                            </tr>
                            <tr>
                                <td>K-Value 66</td>
                            </tr>
                        </tbody>
                    </table>
                </div> -->
            </div>
            <!-- <div class="col-lg-6 col-md-6">
                <img src="../assets/img/product/PVC.jpg" class="img-fluid" alt="Polyvinyl Chloride (PVC)">
            </div> -->
        </div>
    </div>
</section>
<!-- End Polyvinyl Chloride (PVC) Section -->